Repository oocular/unetvit4sclera: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, black, isort, codespell

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=tests/.pylintrc

black:
  name: black
  entry: black
  language: system

isort:
  name: isort
  entry: isort
  language: system

codespell:
  name: codespell
  description: Checks for common misspellings in text files.
  entry: codespell
  language: python

adds details for cloning repo and uv installation
  README.md
  docs/README.md
Due: codespell

Update README.md with unetvit4sclera
  README.md
Due: codespell

renames variables to use unetvit4sclera #0
  src/unetvit4sclera/__init__.py
  src/unetvit4sclera/apis/train.py
  src/unetvit4sclera/models/unetvit.py
  src/unetvit4sclera/utils/datasets.py
  src/unetvit4sclera/utils/helpers.py
  src/unetvit4sclera/utils/pytorch2onnx.py
Due: pylint, black, isort, codespell

renames variables to use unetvit4sclera #0
  tests/test_inference.py
Due: pylint, black, codespell

adds CODE_OF_CONDUCT.md, CONTRIBUTING.md, and LICENSE
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
Due: codespell

adds github templates for issues and PR
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/not_working.md
  .github/pull_request_template.md
Due: codespell

updates main README, adds template for onboarding and data/licence-agreements files #9
  .github/ISSUE_TEMPLATE/onboarding_template.md
  README.md
  data/licence-agreements/MOBIUS-data-licence-agreement.docx
  data/licence-agreements/MOBIUS-data-licence-agreement.pdf
  data/licence-agreements/README.md
Due: codespell

adds further steps to the onboarding and data licence agreements for sbvpi #9
  .github/ISSUE_TEMPLATE/onboarding_template.md
  data/licence-agreements/SBVPI-licence-agreement.docx
  data/licence-agreements/SBVPI-licence-agreement.pdf
Due: codespell

adds samples of data/sbvpi/samples/ #9
  data/sbvpi/README.md
  data/sbvpi/samples/1L_l_1.jpg
  data/sbvpi/samples/1L_l_1_canthus.png
  data/sbvpi/samples/1L_l_1_eyelashes.png
  data/sbvpi/samples/1L_l_1_iris.png
  data/sbvpi/samples/1L_l_1_periocular.png
  data/sbvpi/samples/1L_l_1_pupil.png
  data/sbvpi/samples/1L_l_1_sclera.png
  data/sbvpi/samples/1L_l_1_vessels.png
  data/sbvpi/samples/README.md
Due: none

adds image dimension and size for samples of sbvpi #9
  data/sbvpi/samples/README.md
Due: none

9 - unet pipeline and related updates (#10)
  .github/ISSUE_TEMPLATE/onboarding_template.md
  README.md
  data/aerial-imagery/README.md
  data/licence-agreements/MOBIUS-data-licence-agreement.docx
  data/licence-agreements/MOBIUS-data-licence-agreement.pdf
  data/licence-agreements/README.md
  data/licence-agreements/SBVPI-licence-agreement.docx
  data/licence-agreements/SBVPI-licence-agreement.pdf
  data/sbvpi/Annotations.png
  data/sbvpi/README.md
  data/sbvpi/samples/1L_l_1.jpg
  data/sbvpi/samples/1L_l_1_canthus.png
  data/sbvpi/samples/1L_l_1_eyelashes.png
  data/sbvpi/samples/1L_l_1_iris.png
  data/sbvpi/samples/1L_l_1_periocular.png
  data/sbvpi/samples/1L_l_1_pupil.png
  data/sbvpi/samples/1L_l_1_sclera.png
  data/sbvpi/samples/1L_l_1_vessels.png
  data/sbvpi/samples/README.md
  docs/README.md
  pyproject.toml
  scripts/models/train_unetvit_with_segdataset.bash
  scripts/tests/unit_test_ml_pipeline.bash
  scripts/tests/unit_test_unet_pipeline.bash
  scripts/tests/unit_test_unetvit_pipeline.bash
  src/unetvit4sclera/apis/train_unet_with_mobious.py
  src/unetvit4sclera/apis/train_unetvit_with_segdata.py
  src/unetvit4sclera/models/unet.py
  src/unetvit4sclera/models/unetvit.py
  src/unetvit4sclera/utils/datasets.py
  src/unetvit4sclera/utils/metrics.py
  src/unetvit4sclera/utils/utils.py
  tests/test_unet_pipeline.py
  tests/test_unetvit_pipeline.py
Due: pylint, black, isort, codespell

Path conditions:
  pylint: any of: \.py$, but not: data/.*|docs/.*
  black: any of: \.py$
  isort: any of: \.py$, but not: tests/.*
  codespell: any file but: data/.*|docs/.*
